body {
    margin: 0;
    background-image: url(../images/background.avif);
    background-color: darkred; 
}

#score, #live {
    color: white;
}


#pregameimg {
    width: 800px;
    height: 500px;
}

#pre-game {
    display: flex;
   
   
}

#start-btn, #restart-btn {
    background-color: azure;
    color: black;
    border-color: yellow;
    padding: 20px;
    font-size: 20px;
    margin-top: 40px;
    border-radius: 20px; 
}

#start-btn, #restart-btn b:hover{
    height: 100px;
    width: 140px;
      
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px;
  }

  #game-box {
    background-color: khaki;
    width: 1200px;
    height: 700px;
     /* default settings for game box */
  overflow:hidden; /* this will prevent element from been visible outside the game box */
  position: relative; /* this will allow elements to be positioned relative to the game-box */
  user-select: none; /* this will prevent elements from being highlighted */

  background-image: url("../images/GameScreen.jpg");
  background-position: center;
  background-size: cover;
}




#game-screen, #gameover-screen {
    display: none;
  }